@property --gradient-angle{

    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

body{

overflow-x: hidden;

}


.event-sec{
width: 94vw;
height: 100vh;
margin: 0 3vw;
}

#first{

 height: 90vh;
}


.title{

color: var(--accent-color);
font-size: 3em;
text-align: center;
position: absolute;
left: 40%;
}

#first .event-container{

 width: 100%;
 height: 100%;
 display: flex;

 
    
}

#first .event-container .event-left{

height: 70%;
width: 55%;
display: flex;
margin-left: 10%;
margin-top: 5%;
flex-direction: column;
justify-content: center;

}
.event-container{

 width: 100%;
 height: 100%;
 display: flex;

 
    
}

#first .event-container .event-right{
    margin-top: 6%;

}

.event-container#event-card-left{

    flex-direction: row-reverse;

}


#event-card-left .event-left{

transform: translateX(30%);    

}





.event-container .event-left{

height: 70%;
width: 55%;
display: flex;
margin-left: 10%;
margin-top: 5%;
flex-direction: column;
justify-content: center;

}

.event-name{
    display: flex;
    justify-content: flex-start;
    font-family: 'Orbitron';
    font-size: 6rem;
    
}

#sm{
    font-size: 5rem;

}



.description{

   margin: 0;
   width: 60%;
   opacity: 60%;
}
 .event-container .event-right{


    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.rules{
margin: 5% 0;

}

.card{


    width: 50%;
    aspect-ratio: 10/16;
    border-radius: 1em;
    overflow: hidden;
    position: relative;
    border: 2px dotted rgb(44, 48, 51);
    z-index: 10;
}

.card-overlay{

height: 100%;
width: 100%;
background:linear-gradient( rgba(236, 253, 88, 0.116) 3px,transparent 3px,transparent 9px);
background-size: 100% 9px;
position: absolute;
z-index: 2;
animation: overlay-pan 20s infinite linear;
}
.card-overlay2{

height: 100%;
width: 100%;
background: linear-gradient(to bottom,transparent,#0b0b0b);
position: absolute;
z-index: 3;

}


.glow{
    position: absolute;
    font-family: 'Orbitron';
    font-weight: 700;
    bottom: 15%;
    /* left: 5%; */
    font-size: 1.8em;
    z-index: 4;
}

.glow::before,.glow::after{

    content: '';
    margin: 0 20px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 1px;
}





.button{
    background-color: #1d1d1d;
    padding: 1em;
    color: var(--txt-clr);
    border-radius: 1em;
    position: relative;
}
    
.button::before{
   content: '';
   position: absolute;
   inset: 0px;
   background: linear-gradient(var(--gradient-angle),lightcoral, lightblue,lightcoral);
   z-index: 20;
   border-radius: inherit;
   /* filter: blur(5px); */
   animation: rotation 4s linear infinite;
}

@keyframes rotation{

from{--gradient-angle:0deg;}
to{--gradient-angle:360deg;}

}

.card-img{
    background-image: url(images/Ctf.jpg);
   /* filter: sepia(10%) hue-rotate(270deg); */
   height: 100%;
   width: 100%;
   background-size: 100%;
   background-position: 0% 0%;

}

@keyframes overlay-pan{

 0%{
   background-position: 0% 0% ;


 }

100%{

background-position: 0% -100%;

}
}



@media screen and (max-width:768px) {
    
    .event-sec#first{

        height: 130vh;

    }
    
    .event-sec{

        height: 200vh;

    }

    #first .event-container{

        border: 1px solid blue;
        margin-top: 10vh;
        height: 100%;
        flex-direction: column-reverse;
        /* justify-content: space-between; */
        align-items: center;
        position: relative;
    }
     #first .event-container .title{
        left: 0;
        top: 0;
        font-size: 2rem;
        width: 100%;
     }
    #first .event-container .event-right{
        margin-top: 30%;
        width: 100%;

    }

    #first .event-container .event-right .card{

        height: 100%;
        width: 80%;
        

    }

    #first .event-container .event-right .card .glow{
        font-size: 1.3rem;
    }

    #first .event-container .event-left {
    
        width: 100%;
    }

    #first .event-container .event-left .event-name{

        font-size: 2rem;

    }

    #first .event-container .event-left .description{

        font-size: 1.2rem;
        width: 100%;

    }

    





}