body{
    overflow-x: hidden;

}


#preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 100;
    transition: all 1s;
}

#bg-preloader-video {
    position: relative;
    width: 100%;
    height: 100vh;
}

.img-logo{

    position: absolute;
    top: 5%;
    width: 20rem;
    border-radius: 50%;
    filter: sepia(50%);
    filter:  grayscale(30%) ;
    /* height: 20rem; */
    opacity: 70%;

}




.index-desc{
    
    position: absolute;
    top:80%;
    font-size: 1.7rem;
    opacity: 60%;
    font-family: 'Roboto';
    text-transform: capitalize;
    
}

#blob{
    position: absolute;
    width: 78px;
    filter: blur(30px);
}

.navbar{
    
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.links{
    
    width: 60%;
    display: flex;
    justify-content: space-between;
    
}

.menu{

    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(208deg) brightness(104%) contrast(101%);
    height: 30px;
    display: none;

}

.nav-title{
    display: none;

}


.link{
    
    color: var(--txt-color);
    opacity: 60%;
    height: 100%;
    padding: 1.3em;
    transition: all 350ms ease;
    font-size: 1.25em;
}

.link:hover{
    
    color:var(--accent-color);
    opacity: 1;
    transform: translateY(10px);
    
}



.main{
    height: 90vh;
    display: flex;
    justify-content: center;
    overflow-y: hidden;


}

.main h1{
    font-family: 'Orbitron';
    font-weight: 300;
    font-size: 10em;
    position: absolute;
    top: 40%;
    cursor: none;
    transition: all 0.1s ease;
    color: var(--txt-color);
    border-radius: 0.1em;
    padding: 1rem;
}

.main h1:hover{

    background-color: #fff;
    color: #0b0b0b;
    border-radius: 0.1em;
    padding: 1rem;

}

 .bg-video {
    position: absolute;
    width: 100%;
    height: 90vh;
    top: 0;
    left: 0;
    z-index: -23;
    transform: scale(1.4);
}


.details{

    height: 50vh;
}




/* Second page */

.details{

    position: relative;


}


   
.diff{
    color: var(--accent-color);
    margin-left: 20px;

}

.left{
    width: 25%;
    height: 100%;
    font-size: 3em;
    position: relative;
    font-family: 'Handjet';
}

.left::before{

    content: '';
    height: 40%;
    top: 10%;
    right: 103%;
    width: 5px;
    border-radius: 2px;
    transform: rotate(-10deg);
    background-color: #FFF;
    position: absolute;
    display: block;

}

.right{

    height: 100%;
    width: 45%;
    /* border: 1px solid red; */
    font-size: 1.2em;
    display: flex;
    align-items: center;
    font-family: 'Orbitron';



}

/* events */




@media screen and (max-width:768px) {

   .links{

    display: none;
   }

    #preloader{

        position: fixed;
        height: 100%;
        width: 100%;
        display: none;

    }

    .bg-video{

        display: none;

    }

    .main .img-logo{
        display: none;

    }

    .main h1{

        color: var(--txt-color);
        /* background-color: #0b0b0b; */
        font-size: 4rem;
        top: 25%;

    }

    .index-desc{

        top: 55%;
        font-size: 1.3rem;

    }

    .main{
        height: 90vh;

    }


    .details{
        height: 50vh;

    }


    .details h1{
        font-size: 1.5rem;
        /* display: none; */
        color: var(--accent-color);

    }



    .technical-event h1{
        position: absolute;
        font-size: 2rem;
        top: 0;
        left: 5%;



    }

    .index-right{

        position: absolute;
        top: 50%;

    }

    .index-right p{
        width: 90%;
        /* border: 1px solid red; */
        height: 100%;
        font-size: 1.3rem;
        margin: 0 5%;
        /* display: none; */

    }

    .index-left img{

        /* display: none; */
        position: absolute;
        top: 20%;
        left: 0;
        height: 10%;
        border-radius: 20px;
        width: 80%;
        margin: 0 10%;

    }

    .index-right{
        position: absolute;
        bottom: 0;
        width: 100%;
        font-size: 1rem;
    }

    #non img{
        position: absolute;
        transform: scale(0.7);

    }


    .index-btn{

        margin-left: 5%;
        /* margin-top: 10%; */

    }
    .technical-event{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: 130vh !important;
        border: 1px solid green;

    }

    .index-row{

        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;

    }


    .link-img{
        margin: 0 5%;
        height: 50%;
        width: 90%;
        position: relative;
    }

    .iframe h3{
        margin: 10% 5%;
        width: 90%;
        font-size: 1rem;

    }

    .index-left img{

        height: 150px;
    }


    


}



 

.home-card {
    width: 20rem;
    height: 30rem;
    border-radius: 2rem;
    background-color: #FFF;
    position: relative;
    overflow: hidden;
}

.home-title{


    font-size: 3rem;
    font-family: 'Orbitron';
    text-align: center;
    margin-bottom: 2em;
    color: var(--accent-color);
    position: absolute;
    left: 10%;
    top: 0%;
    

}

.index-left,.index-right{
    margin-top: 20%;

}

.home-card a img {
    width: 20rem;
    border-radius: inherit;
}

.home-card a {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.home-card h3 {
    color: #fff;
    position: absolute;
    bottom: 0;
}

.technical-event,
.non-technical-event {
    /* display: flex; */
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    align-items: center;
    gap: 5rem;
    position: relative;
}
  
.non-technical-event{

    flex-direction: row-reverse;
    position: relative;
}


.map{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;

}

.iframe{
    position: absolute;
    bottom: 20%;
    /* margin-bottom: 30%; */

}

#frame-title{

    position: absolute;
    top: 0;
}




.event-index-desc{

    margin: 0 auto;
    width: 90vh;
    font-size: 1.5rem;
    opacity: 60%;

}

.index-left img{

    height: 400px;
    /* width: 400px; */

}


.index-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 10%;

}

.non-event-index-desc{

    font-size: 1.5rem;
    opacity: 60%;

}

.index-right{
    font-family: 'Orbitron';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;

}

.index-btn{

    background-color: var(--accent-color);
    padding: 1em;
    width: fit-content;
    border-radius: 1em;    
    margin-top: 10%;
}

#non{
    flex-direction: row-reverse;

}

.link-img{
    border-radius: 30px;

}

  