@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Iceland&family=Orbitron:wght@400;700&family=Roboto&family=Rubik&display=swap');

:root{


    --bg-color: #0b0b0b;
    --accent-color:#8dffb3;
    --txt-color:#FFF;
}

a{
    text-decoration: none;


}

body{

    background-color: var(--bg-color);
    color: var(--txt-color);
    font-family: 'Rubik';
    margin: 0;
}
